/.vs
/.idea
/.cr
/.github
/.git
/.vscode
/LabExtended/bin
/LabExtended/obj
/packages
LabExtended.sln.DotSettings.user
global.json
/LabExtended.ImageConvertor/obj
/LabExtended.ImageConvertor/bin/Debug/net9.0
/LabExtended.ImageConvertor/bin/Release/net9.0
/LabExtended.ImageConvertor/Properties/PublishProfiles
/LabExtended.ImageConvertor/LabExtended.ImageConvertor.csproj.user
.fake
.vscode
.vs
.idea
